<% provide(:title, 'Problems List') %>
<h1>Problems List</h1>

<span class="button">
  <p>
    <%= link_to "Download", problems_path(format: "csv"),class: "btn btn-primary"  %>
  </p>
</span>

<%= will_paginate %>
<table>
  <ul class="problems">
      <%= render @problems %>
  </ul>
</table>
<%= will_paginate %>

