<% provide(:title, 'Problems List') %>
<h1>Problems List</h1>

<span class="button">
  <p>
    <%= link_to "Download", problems_path(format: "csv"),class: "btn btn-success"  %>
    <!--Search function to be finished  -->
    <!--<div>-->
    <!--  <form class="navbar-form d-none d-lg-flex mr-2 form-search active" action="/search" method="GET">-->
    <!--    <i class="fa btn-search fa-search"></i>-->
    <!--    <input class="form-control" name="q" type="text" value placeholder="Search..."> -->
    <!--  </form>-->
    <!--</div>-->
  </p>
</span>

<div class="problems">
  <%= render @problems %>
</div>