<% provide(:title, "Problem") %>
<% provide(:button_text, 'Cannot Save') %> 


<table>
  <ul class="problems">
      <%= render 'problemshow_form',object: @problems %>
  </ul>
</table>

<span class="button">
  <p>
    <%= link_to "Back", home_path,class: "btn btn-success"  %>
  </p>
</span>