<% provide(:title, "Edit Problem") %>
<% provide(:button_text, 'Save changes') %>
<h1>Update your problem</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/problem_form' %>
  </div>
</div>